@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Playfair Display',serif;
font-family: 'Poppins',sans-serif; */

/* NavBar CSS */
.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-bottom: 0.5px solid !important;
}

.nav-link{
    font-weight: 300 !important;
}
.active{
    border-bottom: 2px solid red;
}
.navbar-brand{
    font-weight: 700;
    font-family: 'roboto', sans-serif;
     letter-spacing: 3px;
     font-size: 25px;
}

/* Page Not Found CSS */
.pnf{
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title{
    font-size: 100px;
    font-weight: 700px;
}
.pnf-heading{
    font-weight: normal;
}
.pnf-btn{
    color: green;
    border: 1px solid red;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}



/* Footer CSS */
.footer{
    color: white;
    padding: 25px;
}
.footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer a:hover{
    color: red;
    border-bottom: 1px solid green;
}

/* Contact Us CSS */

.contactus {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-link{
    text-decoration: none !important;
    color: black !important;
}

.d-flex{
    margin-left: 50px;
}

/*=================== My Own Css =======================*/

.filter{
    background-color: rgb(228, 221, 221);
    color: rgb(228, 67, 67);
    border-bottom: 2px solid rgb(82, 76, 76);
    margin: 25px;
    padding: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.imgsize{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}
.cartBody{
    background-color: rgb(236, 234, 234);
    color: black;
}

.loadingbtn{
    align-items: center;
    justify-content: center;
}